.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.container_background {
    position: absolute;
    max-width: 100%;
    height: 550px;
}

.container_title {
	margin: 0;
	font-family: var(--font-title);
    text-align: center;
	font-size: 60px;
	font-weight: 400;
	line-height: 72px;
	letter-spacing: -3%;
}

.container_desc {
    width: 464px;
	font-family: var(--font-body);
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.container_countdown {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 700px;
}

.timer {
    display: block;
    position: relative;
    width: 114px;
    justify-self: center;
}

.timer_clock {
    display: block;
    position: relative;
    width: 100%;
    height: 128px;
    -webkit-perspective-origin: 50% 50%;
    -webkit-perspective: 300px;
    perspective-origin: 50% 50%;
    perspective: 300px;
    box-sizing: border-box;
    font-size: 98px;
}

.timer_windows {
    font-size: 98px;
}

.timer_linux {
    font-size: 105px;
}

.timer_label {
    text-align: center;
	font-family: var(--font-body);
    font-weight: bold;
}

.timer_object {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( #54088B 40%, #880CE1 60%);
}

.upperCard, .lowerCard, .fullCard {
	display: flex;
	position: relative;
	justify-content: center;
	width: 100%;
	overflow: hidden;
}

.upperCard, .lowerCard {
    height: 50%;
}

.upperCard span, .lowerCard span, .fullCard span {
    position: absolute;
    font-family: var(--font-title);
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.upperCard {
    background: linear-gradient( #54088B 80%, #880CE1 120%);
	/*align-items: flex-end;*/
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.upperCard span {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    top: -100%;
}

.lowerCard {
    background: linear-gradient( #54088B -20%, #880CE1 20%);
	/*align-items: flex-start;*/
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.lowerCard span {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: -1px;
}

.fullCard {
    height: 100%;
    background: linear-gradient( #54088B 40%, #880CE1 60%);
    border-radius: 10px;
}

.flipCard {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 50%;
	overflow: hidden;
	backface-visibility: hidden;

    &.unfold {
        background: linear-gradient( #54088B -20%, #880CE1 20%);
		top: 50%;
        -webkit-transform-origin: 50% 0%;
        -webkit-transform: rotateX(200deg);
		transform-origin: 50% 0%;
		transform: rotateX(200deg);
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
    }

    &.fold {
        background: linear-gradient( #54088B 80%, #880CE1 120%);
		top: 0%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
		-webkit-transform-origin: 50% 100%;
		-webkit-transform: rotateX(0deg);
		transform-origin: 50% 100%;
		transform: rotateX(0deg);
    }
}

.flipCard span {
    font-family: var(--font-title);
    font-weight: bold;
    position: absolute;
    width: 100%;
    text-align: center;
}

.unfold span {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: -1px;
}

.fold span {
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    top: -100%;
}

.fold {
    -webkit-transform-style: preserve-3d;
    -webkit-animation: unfold 0.7s ease-in-out forwards;
    transform-style: preserve-3d;
    animation: fold 0.7s ease-in-out forwards;
}

.unfold {
    -webkit-transform-style: preserve-3d;
    -webkit-animation: unfold 0.7s ease-in-out forwards;
    transform-style: preserve-3d;
    animation: unfold 0.7s ease-in-out forwards;
}

.buynow_text {
    text-align: center;
    font-weight: 500;
    font-family: "Heading Now Trial";
    font-size: 1.2rem;
    letter-spacing: -0.6px;
}

.buynow_spaceEnd {
    display: none;
}

.container_countdownEnded {
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

@keyframes fold {
    0% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    100% {
        -webkit-transform: rotateX(-180deg);
        transform: rotateX(-180deg);
    }
}

@keyframes unfold {
    0% {
        -webkit-transform: rotateX(180deg);
        transform: rotateX(180deg);
    }
    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
}

@media only screen and (max-width: 750px) {
    .container_countdown > div:last-child {
        display: none;
    }

    .buynow {
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .buynow_space {
        display: none;
    }

    .container_countdown {
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }

    .container_countdownEnded {
        gap: 1rem;
        padding-right: 3rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .container_background {
        max-width: 200%;
    }

}

@media only screen and (max-width: 500px) {
    .container_title {
        font-size: 48px;
    }

    .container_countdown {
        grid-template-columns: repeat(3, 1fr);
    }

    .container_countdownEnded {
        grid-template-columns: repeat(1,1fr);
    }

    .container_countdown > div:nth-child(4) {
        display: none;
    }
    .container_countdownEnded > div:nth-child(2) {
        display: none;
    }
    .container_countdownEnded > div:nth-child(3) {
        display: none;
    }

    .container_countdownEnded > div:nth-child(4) {
        display: flex;
    }

    .container_desc {
        width: 90%;
        font-size: 18px;
    }

    .timer {
        width: 86px;
    }

    .timer_clock {
        height: 94px;
        font-size: 77px;
    }
}

@media only screen and (max-width: 350px) {
    .container_title {
        font-size: 40px;
    }

    .timer {
        width: 72px;
    }

    .timer_clock {
        height: 86px;
        font-size: 65px;
    }
}