.container {
  background-color: #040404;
  text-align: center;
  padding: 80px 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 100px;
  letter-spacing: -3%;
  text-align: center;
  color: #F4F4F4;
  margin-bottom: 20px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; 
  flex-wrap: wrap;
  padding: 30px;
  margin-left: 30px;
}

.logo {
  width: 160px; 
  height: auto;
  filter: brightness(0) invert(1); 
}

.aluraLogo {
  width: 140px; 
}

.row {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 40px; 
}