.container {
  background-color: #040404;
  text-align: center;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 100px;
  letter-spacing: -3%;
  text-align: center;
  color: #f4f4f4;
  margin-bottom: 20px;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 30px;
  margin-left: 30px;
}

.logo {
  width: max-content;
  height: 70px;
  filter: brightness(0) invert(1);
}

.aluraLogo {
  width: 140px;
}

.aluraPequena {
  max-width: 80px;
  height: auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .title {
    font-size: 50px;
    line-height: 80px;
  }

  .grid {
    gap: 30px;
    padding: 20px;
    margin-left: 0;
  }

  .logo {
    height: 50px;
  }

  .aluraLogo {
    width: 120px;
  }

  .row {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 40px;
    line-height: 60px;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 60px;
  }

  .logo {
    height: 40px;
  }

  .aluraLogo {
    width: 60px;
  }

  @media (max-width: 480px) {
    .grid {
      gap: 40px 50px;
      grid-template-columns: repeat(3, minmax(80px, 1fr));
    }

    .title {
      font-size: 40px;
      line-height: 60px;
    }

    .logo {
      height: 40px;
    }

    .aluraLogo {
      width: 60px;
    }
  }
}
