:root {
  --grad-roxo-rosa: linear-gradient(270deg, #921689 0%, #54025b 100%);
  --grad-roxo-azul: linear-gradient(90deg, #54025b 0%, #1d1540 100%);
  --grad-preto-roxo: linear-gradient(90deg, #000000 19.96%, #1b051d 100%);

  --roxo1: #54025b;
  --roxo2: #7805a6;
  --roxo3: #a60bbe;
  --azul: #311167;
  --rosa: #c31d8c;
  --branco: #ffffff;
  --preto: #000000;

  --font-title: "Bebas Neue", sans-serif;
  --font-body: "IBM Plex Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: wrap !important;
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 10px !important;
}

.swiper-pagination-bullet-active {
  background: #7805a6 !important;
}
