.homeHeader{
  z-index: 10;
}

.homeBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.homeTop {
  position: relative;
  isolation: isolate;
  z-index: 1;
}

.homeMid {
  position: relative;
  background: transparent;
  isolation: isolate;
  overflow: hidden;
  width: 100%;
  z-index: 0;
}

.homeLuz {
	position: absolute;
	z-index: -1;
  top: 45%;
	right: -900px;
	transform: translateY(-50%);
}

.swiper-wrapper {
  display: flex;
  flex-wrap: wrap !important;
}

.swiper-pagination {
  position: absolute;
  margin-top: 20px;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}
