.main{
  background: var(--grad-preto-roxo);
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  color: #F4F4F4;
  width: 85%;
  justify-self: center;
  padding: 140px 0 108px 0;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home h1 {
  font-family: var(--font-title);
  font-size: 5.5rem;
  line-height: 80px;
  margin: 0;
}

.homeTitle {
  color: #942AFF;
}

.homeData {
  display: flex;
  gap: 4px;
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;}

.homeTexto {
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 18px;
  line-height: 23.4px;
  width: 385px;
  margin: 0;
  margin-bottom: 60px;
}

.homeFormaBotao {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 240px;
}

.homeBotao {
  display: block;
  position: relative;
}

.homeFormaBotao p {
  position: absolute;
  width: 160px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-body);
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
  margin: 0;
}
