.card {
  width: 225px;
  height: 320px;
  border-radius: 12px 12px 0px 0px;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.cardFrente,
.cardVerso {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

.cardFrente {
  background-size: cover;
  background-position: center;
}

.informacoesCard {
  bottom: 0;
  position: absolute;
  padding: 0;
  height: 94px;
  width: 100%;
  background: url("/assets/Subtract.svg") no-repeat center bottom;
  background-position: center bottom;
  background-size: cover;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.cardNome {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #f4f4f4;
  padding-top: 12px;
  padding-left: 40px;
  margin: 0;
  text-transform: uppercase;
}

.cardCargo {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #f4f4f4;
  padding-top: 4px;
  padding-left: 40px;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* máximo de 2 linhas */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.animacao {
  padding-top: 8px;
  padding-left: 40px;
  display: flex;
  align-items: center;
  gap: 6px;
  color: #f4f4f4;
  font-family: IBM Plex Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 12.84px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  cursor: pointer;
}

.cardVerso {
  background-color: var(--preto);
  color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: rotateY(180deg);
}

.versoInformacoes {
  padding: 21.2px 33.25px 0px 13.56px;
  max-height: 275px;
  overflow-y: auto;
  /* Para Firefox */
  scrollbar-width: thin; /* barra mais fina */
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent; /* cor da barra e do fundo */
}

/* Para navegadores baseados em WebKit (Chrome, Edge, Safari) */
.versoInformacoes::-webkit-scrollbar {
  width: 6px; /* largura da barra */
}

.versoInformacoes::-webkit-scrollbar-track {
  background: transparent; /* fundo da área da barra */
}

.versoInformacoes::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* cor da barra */
  border-radius: 3px; /* bordas arredondadas */
}

.cardVerso h2 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 13.56px;
  margin: 0;
}

.cardVerso h3 {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 10px;
  margin: 0;
  margin-bottom: 17.48px;
}

.cardVerso p {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 11px;
  margin: 0;
  margin-bottom: 12px;
  gap: 12px;
}

.cardInstagram {
  display: flex;
  align-items: center;
  gap: 2px;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  cursor: pointer;
}

.cardInstagram p {
  margin-bottom: 0;
}

.cardVersoVoltar {
  padding: 21.02px 13.56px 0px 0px;
  transform: rotate(180deg);
  cursor: pointer;
}

.card.flipped .cardFrente {
  transform: rotateY(180deg);
}

.card.flipped .cardVerso {
  transform: rotateY(360deg);
}

@media (max-width: 1360px) {
  .card {
    width: 180px;
    height: 256px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .informacoesCard {
    height: 85px;
  }

  .cardNome {
    font-size: 15px;
    padding-left: 20px;
    padding-top: 6px;
  }

  .cardCargo {
    font-size: 11px;
    padding-left: 20px;
  }

  .animacao {
    padding-left: 20px;
  }

  .versoInformacoes {
    padding: 21px 13px 0px 13px;
  }

  .cardVerso h2 {
    font-size: 12px;
  }

  .cardVerso h3 {
    font-size: 9px;
    margin-bottom: 12px;
  }

  .cardVerso p {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 11px;
    margin: 0;
    margin-bottom: 10px;
    gap: 6px;
  }

  .cardInstagram p {
    margin-bottom: 0;
  }

  .cardVersoVoltar {
    padding: 21px 13px 6px 0px;
  }
}

@media (max-width: 425px) {
  .card {
    width: 128px;
    height: 182px;
  }

  .informacoesCard {
    height: 53px;
  }

  .cardNome {
    font-size: 9px;
    padding-left: 20px;
  }

  .cardCargo {
    font-size: 6.8px;
    padding-left: 20px;
  }

  .animacao {
    padding-top: 4px;
    font-size: 7px;
    align-items: center;
    gap: 2px;
  }

  .animacao img {
    width: 8px;
    height: 8px;
  }

  .versoInformacoes {
    padding: 21px 13px 0px 13px;
  }

  .cardVerso h2 {
    font-size: 10px;
  }

  .cardVerso h3 {
    font-size: 8px;
    margin-bottom: 12px;
  }

  .cardVerso p {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 8px;
    margin: 0;
    margin-bottom: 10px;
    gap: 4px;
  }

  .cardInstagram img {
    width: 10px;
  }

  .cardInstagram p {
    margin-bottom: 0;
  }

  .cardVersoVoltar {
    padding: 21px 13px 6px 0px;
    width: 10px;
  }
}
