.headerContent {
  padding: 18px 120px;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(26, 26, 26, 0.4);
  color: var(--branco);
  position: relative;
  isolation: isolate;
  z-index: 10;
  transition: background-color 0.2s ease-out;
}

.headerContent.scrolled {
  background-color: black !important;
}

.headerLogo {
  cursor: pointer;
}

.logoMobile {
  display: none;
}

.headerRedirecionamento {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.headerRedirecionamento nav ul {
  display: flex;
  gap: 40px;
  list-style-type: none;
  align-items: center;
}

.headerRedirecionamento nav ul li {
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.headerRedirecionamento nav ul li a {
  color: var(--branco);
  text-decoration: none;
}

.headerBotaoIngresso {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.headerBotao {
  display: block;
}

.headerIngresso {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headerIngresso p {
  font-family: var(--font-body);
  font-weight: 600;
  font-size: 18px;
}

.mobileDropdown {
  display: none;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 100%;
  height: 100vh;
  padding-top: 40px;
  transform: translateX(-50%) translateY(-20px);
  opacity: 0;
  backdrop-filter: blur(8px);
  transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
  z-index: 9;
}

.mobileDropdown div{
  display: none;
}

.mobileDropdown.open {
  display: none;
  transform: translateX(-50%) translateY(0);
  background-color: black;
  opacity: 1;
  pointer-events: auto;
  z-index: 9;
}

.mobileDropdown .headerIngresso {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  position: absolute;
  top: 50%;
  left: 17%;
}

.mobileDropdown nav ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 40px;
  list-style-type: none;
  align-items: center;
  padding: 0;
}

.mobileDropdown nav ul li {
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.mobileDropdown nav ul li a {
  color: var(--branco);
  text-decoration: none;
}

.hamburguer {
  position: relative;
  width: 30px;
  height: 2px;
  background: var(--branco);
  transition: 0.3s ease;
}

.hamburguer:before,
.hamburguer:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--branco);
  transition: 0.3s ease;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

.hamburguer.open {
  transform: rotate(45deg);
}

.hamburguer.open:before {
  transform: rotate(90deg);
  top: 0;
}

.hamburguer.open:after {
  transform: rotate(90deg);
  bottom: 0;
}

.menuIcon {
  display: none;
  padding-top: 16px;
  width: 30px;
  height: 24px;
  position: relative;
  cursor: pointer;
  z-index: 9;
}

.menuIcon div {
  position: relative;
  width: 30px;
  height: 2px;
  background: var(--branco);
  transition: 0.3s ease;
}

.menuIcon.open div {
  transform: rotate(45deg);
}

.menuIcon.open div:before {
  transform: rotate(90deg);
}

@media (max-width: 1100px) {
  .headerContent {
    padding: 18px 60px;
  }

  .headerRedirecionamento {
    gap: 40px;
  }

  .headerRedirecionamento nav ul {
    padding: 0;
    gap: 20px;
  }
}

@media (max-width: 911px) {
  .headerContent {
    padding: 16px 40px;
  }

  .logoMobile {
    display: block;
    cursor: pointer;
  }

  .headerLogo {
    display: none;
  }

  .headerBotaoIngresso {
    width: 160px;
  }

  .headerRedirecionamento {
    gap: 30px;
  }
  
  .headerBotao {
    width: 100%;
  }

  .headerIngresso {
    gap: 7px;
    left: 15%;
    width: 20px;
  }

  .headerIngresso p {
    font-size: 14px;
  }
}

@media (max-width: 715px) {
  .headerContent {
    width: 100vw;
    box-sizing: border-box;
    padding: 16px 40px;
    position: fixed !important;
    z-index: 10;
  }

  .headerRedirecionamento {
    display: none;
  }

  .menuIcon {
    display: block;
    z-index: 11;
  }

  .mobileDropdown{
    display: block;
  }

  .mobileDropdown div{
    display: block;
  }

  .mobileDropdown.open {
    display: block;
  }

  .headerContent.open {
    background-color: black;
  }
}
