.container {
    background-color: black;
    background-image: linear-gradient(180deg, rgba(118, 12, 225, 0) 0%, #760CE1 172.56%);
}

.programacaoTitulo {
    padding-top: 100px;
    padding-left: 120px;
}

.programacaoNavigation {
    display: flex;
    margin-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

.programacaoConteudo{
    margin-top: 40px;
    padding-left: 120px;
    padding-right: 120px;
}

.titulo {
    margin: 0;
    color: white;
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 60px;
    line-height: 52px;
    letter-spacing: -3%;
}

.imagemContainer {
    position: relative;
    display: inline-block;
    margin-right: -22px;
    height: 38px;
}

.botoes {
    display: flex;
    position: relative;
}

.imagemHackathon{
    width: 147px;
    height: 38px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 2;
}

.imagemDia {
    width: 105px;
    height: 38px;
    cursor: pointer;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}

.textoImagem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: IBM Plex Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 20.8px;
    letter-spacing: 0%;
    z-index: 3;
    cursor: pointer;
}

.tituloDia{
    margin: 0;
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 51px;
    line-height: 61.2px;
    letter-spacing: -3%;
    color: white;
}

.subtituloDia{
    margin: 0;
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -3%;
    color: #942AFF;
}

.dia{
    height: 109px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
