.palestrantesContainer{
    width: 100%;
    height: fit-content;
    background: linear-gradient(180deg, rgba(0, 0, 0) 0%, #760CE1 172.56%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    isolation: isolate;
}

.palestrantesHeader{
    width: 91%;
}

.palestrantesTitle{
    display: flex;
    align-items: flex-start;
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -3%;
    color: white;
    padding-top: 80px;
    margin:0;
}

.palestrantesContent {
    margin: 0;
    width: 91%;
    padding-top:80px;
    padding-bottom: 40px;
}

.palestrantesButton{
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.formaBotao {
    position: relative;
    display: inline-block;
    text-decoration: none;
    border: none; 
    cursor: pointer;
    padding-left: 102px;
    padding-right: 102px;
    margin: 0px;
}

.imagemBotao{
    width: 391px;
    height: 52px;
    display: block;
}
  
.textoBotao {
    margin: 0px;
    padding: 0px;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #11004C;    ;
    font-family: IBM Plex Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 23.4px;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: Auto;
    text-decoration-thickness: Auto;
    text-decoration-skip-ink: auto;
}

@media (max-width:425px){

    .palestrantesTitle{
        font-size: 21px;
        height: 50px;
    }

    .palestrantesContent {
        padding-top:16px;
        padding-bottom: 20px;
    }

    .palestrantesButton{
        padding-bottom: 20px;
    }

    .formaBotao img{
        width: 192px;
        height: 26px;
    }

    .textoBotao {
        font-size: 10px;
    }
}