.banner {
    display: flex;
    flex-direction: column;
    color: #F4F4F4;
    width: 85%;
    justify-self: center;
    padding: 140px 0 108px 0;
  }
  
  .container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .banner h1 {
    font-family: var(--font-title);
    font-size: 5.5rem;
    line-height: 80px;
    margin: 0;
  }
  
  .bannerTitle {
    color: #942AFF;
  }
  
  .bannerData {
    display: flex;
    font-family: var(--font-body);
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    align-items: center;
  }
  
  .bannerDataEstrela {
    transform: rotate(10deg);
  }
  
  .bannerTexto {
    font-family: var(--font-body);
    font-weight: 500;
    font-size: 18px;
    line-height: 23.4px;
    width: 385px;
    margin: 0;
    margin-bottom: 60px;
  }
  
  .bannerFormaBotao {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 240px;
  }
  
  .bannerBotao {
    display: block;
    position: relative;
  }
  
  .bannerFormaBotao p {
    position: absolute;
    width: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-body);
    font-weight: 600;
    font-size: 18px;
    white-space: nowrap;
    margin: 0;
  }
  