.background {
	height: 2550px;
	width: 100%;
	overflow: hidden;
	position: relative;
	background: 
		linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1)),
		linear-gradient(90deg, #000000 19.96%, rgb(25, 8, 27) 45%, #0c030e 100%);
}

.backgroundContent {
  display: flex;
	flex-direction: column;
	gap: 18px;
	align-items: center;
	padding-left: 500px;
	padding-top: 86px;
	position: relative;
	z-index: 1;
}

.backgroundContent div {
	display: flex;
	gap: 22px;
	align-items: center;
}

.backgroundDestaque {
	opacity: 1;
	box-shadow: 0 4px 15px rgba(73, 18, 68, 0.7);	
	border-radius: 12px;
}

.backgroundMedio {
	opacity: 0.15;
	border-radius: 12px;
}

.backgroundFotos {
	opacity: 0.07;
	border-radius: 12px;
}

.backgroundEscuro {
	opacity: 0.04;
	border-radius: 12px;
}

